<div id="sub_lower_content">
				<div class="content_title">
						<h2>Latest News</h2>
				</div>
        <div class="upper_news">
            <%= image_tag "Up_arrow.png",:class=>"up_arrow" %>
        </div>
        <div class="news">
             <div class="news_image">
                 <%= image_tag "student.JPG" %>
             </div>
             <div class="news_content">
                 <div class="news_title">
                    <strong>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</strong>
                 </div>
                 <div class="news_details">
                     <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                     Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                      when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                 </div>
                 <div class="read_more">
                      <a href="#">Read More...</a>
                 </div>
             </div>
        </div>
        <div class="news">
             <div class="news_image">
                 <%= image_tag "student.JPG" %>
             </div>
             <div class="news_content">
                 <div class="news_title">
                    <strong>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</strong>
                 </div>
                 <div class="news_details">
                     <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                     Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                      when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                 </div>
                 <div class="read_more">
                      <a href="#">Read More...</a>
                 </div>
             </div>
        </div>
        <div class="news">
             <div class="news_image">
                 <%= image_tag "student.JPG" %>
             </div>
             <div class="news_content">
                 <div class="news_title">
                    <strong>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</strong>
                 </div>
                 <div class="news_details">
                     <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                     Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                      when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                 </div>
                 <div class="read_more">
                      <a href="#">Read More...</a>
                 </div>
             </div>
        </div>


        <div class="lower_news">
         <%= image_tag "Down_arrow.png",:class=>"up_arrow" %>
        </div>
		</div>
