<!---- start of first slider ------>

<div id='sliderWrapper1'>
	<div id='sliderDown'></div>
	<ul id='slider1'>
		<li>
				<div id="">
						<%=image_tag"a.jpg",:class=>"slider_image" %></br> <!-- image here-->
						Right from the start, Dummy College made me feel so welcome, like it was already my school.
				</div>
		</li>
		
		<li>
				<div>
						<%=image_tag"b.jpg",:class=>"slider_image" %></br> <!-- image here-->
						second image <!-- image text here-->
				</div>
		</li>
		
		<li>
				<div>
						<%=image_tag"c.jpg",:class=>"slider_image" %></br> <!-- image here-->
						third image<!-- image text here-->
				</div>
		</li>

		<li>
				<div>
						<%=image_tag"d.jpg",:class=>"slider_image" %></br> <!-- image here-->
						fourth image <!-- image text here-->
				</div>
		</li>

		<li>
				<div>
						<%=image_tag"e.jpg",:class=>"slider_image" %></br> <!-- image here-->
						12345678876543345678<br/>
						
				</div>
		</li>

	</ul>
<div id="management">
		<a href="#">see our organization management</a>
</div>
	<div id='sliderUp'></div>
</div>


<!---- start of 2nd slider ------>

<div id='sliderWrapper2'>
	<div id='sliderDown'></div>
	<ul id='slider2'>
			
		<li>
				<div>
						<%=image_tag"a.jpg" %></br> <!-- image here-->
						Right from the start, Dummy College made me feel so welcome, like it was already my school.
				</div>
		</li>
		
		<li>
				<div>
						<%=image_tag"b.jpg" %></br> <!-- image here-->
						second image <!-- image text here-->
				</div>
		</li>
		
		<li>
				<div>
						<%=image_tag"c.jpg" %></br> <!-- image here-->
						third image<!-- image text here-->
				</div>
		</li>

		<li>
				<div>
						<%=image_tag"d.jpg" %></br> <!-- image here-->
						fourth image <!-- image text here-->
				</div>
		</li>

		<li>
				<div>
						<%=image_tag"e.jpg" %></br> <!-- image here-->
						12345678876543345678<br/>
						
				</div>
		</li>

	</ul>
	<div id='sliderUp'></div>

</div>
<div id="management_content">
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
</div>


